.wrapper {
	max-width: 100%;
	min-height: 100%;
	margin: 0 auto;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.main {
	flex: 1 1 auto;
}
//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Inter";
$fontSize: 18;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1215;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #000;

._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
}

span,
h1,
h2,
h3,
h4,
div {
	cursor: default;
}
