.fit-out {
	@include adaptiv-value(padding-bottom, 60, 20, 3);
	@include adaptiv-value(padding-top, 60, 20, 3);
}
.fit-out__title {
	margin-bottom: 16px;
	font-weight: bold;
	font-size: 48px;
	line-height: 110%;
	letter-spacing: -0.01em;
}
.fit-out__wrapper {
	display: flex;
	column-gap: 50px;
	justify-content: space-between;
}

.fit-out__subtitle-wrapper {
	display: flex;
	margin-bottom: 32px;
	font-size: 48px;
	line-height: 100%;
	letter-spacing: -0.02em;
}
.fit-out__subtitle-project {
	display: block;
	margin-left: 20px;
	max-width: 150px;
	font-size: 20px;
	line-height: 110%;
	letter-spacing: -0.02em;
}
.fit-out__text {
	max-width: 590px;
	font-size: 18px;
	line-height: 160%;
	letter-spacing: -0.01em;
}
.fit-out__item {
	position: relative;
	width: 560px;
	height: 327px;
}
.fit-out__image {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

@media (max-width: 992px) {
	.fit-out {
		&__title {
			@include adaptiv-value(margin-bottom, 80, 30, 3);
		}
		&__wrapper {
			flex-wrap: wrap;
		}
		&__info {
			flex: 1 1 100%;
		}
		&__subtitle-wrapper {
			width: 100%;
			justify-content: center;
		}
		&__text {
			width: 100%;
			max-width: 100%;
			text-align: center;
			@include adaptiv-value(margin-bottom, 80, 30, 3);
		}
		&__item {
			position: static;
			width: 100%;
			height: auto;
		}
		&__image {
			position: static;
		}
	}
}
@media (max-width: 640px) {
	.fit-out {
		&__title {
			font-size: 36px;
		}
		&__subtitle {
			font-size: 42px;
			margin-bottom: 10px;
			&-project {
				margin-left: 0;
				max-width: 100%;
				font-size: 18px;
			}
			&-wrapper {
				flex-wrap: wrap;
			}
		}
		&__text {
			font-size: 14px;
		}
	}
}
