.header-fix {
	width: 100%;
	padding: 20px 60px;
	position: fixed;
	z-index: 5;
	background-color: #fff;
}
.header-wrapper {
	display: flex;
	max-width: 1920px;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
}
.header-nav > ul {
	display: flex;
}
.header-nav__list {
	transition: all 1.3s;
	&:not(:last-child) {
		margin-right: 40px;
	}
}
// .header-logo__item {
// }
.header-logo__text {
	display: block;
}

.header-nav__link {
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 110%;
	color: $darkgrey;
	text-transform: uppercase;
}

@media (min-width: 992px) {
	.header-nav__link {
		position: relative;
		&:after {
			content: "";
			position: absolute;
			left: 0;
			bottom: -5px;
			width: 100%;
			height: 2px;
			background-color: #88c558;
			transform: scaleX(0);
		}
		&:hover {
			color: #88c558;
			transition: color 0.3s;
			&:after {
				transform: scaleX(1);
				transition: transform 0.2s;
			}
		}
	}
}

.header-contacts {
	display: flex;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 140%;
	letter-spacing: -0.02em;
}
.header-contacts__adress {
	max-width: 255px;
	text-align: right;
	margin-right: 40px;
}
.header-contacts__connection {
	max-width: 180px;
}
.header-contacts__tel,
.header-contacts__mail {
	color: #88c558;
}
.header-contacts__tel {
	margin-bottom: 3px;
}
