.project {
	padding: 90px 0;
}
.project__title-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 60px;
}
.project__title {
	font-weight: bold;
	font-size: 48px;
	line-height: 110%;
	letter-spacing: -0.01em;
}
.project__link {
	font-weight: 500;
	font-size: 20px;
	line-height: 150%;
	letter-spacing: -0.02em;
	color: #88c558;
}
.project__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	min-height: 1600px;
}
.card__item {
	flex: 1 1 592px;
	margin-bottom: 16px;
}
.cart__image {
	width: 100%;
}
.project__cart-main {
	flex: 0 0 100%;
}
.card__link {
	font-weight: 500;
	font-size: 18px;
	line-height: 110%;
	letter-spacing: -0.01em;
	color: #000;
}
.card__years {
	font-weight: 500;
	font-size: 18px;
	line-height: 110%;
	letter-spacing: -0.01em;
	color: rgba(0, 0, 0, 0.5);
}
