.team {
	padding: 90px 0;
}
.team__title {
	margin-bottom: 48px;
	font-weight: bold;
	font-size: 48px;
	line-height: 110%;
	letter-spacing: -0.01em;
}
.team-president {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 15px;
	transition: all 1.2s ease;
	margin-bottom: 32px;
}
.team-president__item {
	position: relative;
}

.team-president__image {
	width: 100%;
}
.team-president__info {
	position: absolute;
	top: 24px;
	left: 24px;
}
.team-president__name {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 18px;
	line-height: 110%;
	letter-spacing: -0.01em;
	color: #000;
}
.team-president__profession {
	display: block;
	font-size: 16px;
	line-height: 110%;
	letter-spacing: -0.01em;
	color: rgba(0, 0, 0, 0.5);
}

.team-worker {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	column-gap: 15px;
	row-gap: 30px;
	min-height: 530px;
}

.team-worker__item {
	position: relative;
	max-height: 155px;
}

.team-worker__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.team-worker__info {
	position: absolute;
	padding: 10px 12px;
	bottom: 0px;
	background-color: rgba(255, 255, 255, 0.5);
}
.team-worker__name {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 14px;
	line-height: 110%;
	letter-spacing: -0.01em;
	color: rgba(0, 0, 0, 0.8);
}
.team-worker__profession {
	display: block;
	font-weight: 500;
	font-size: 14px;
	line-height: 110%;
	letter-spacing: -0.01em;
	color: rgba(0, 0, 0, 0.8);
}
.team-president__link {
	display: block;
	height: 100%;
	z-index: 15;
	cursor: pointer;
}
.team-worker__link {
	display: block;
	height: 100%;
	width: 100%;
	z-index: 25;
	cursor: pointer;
}

@media (min-width: 992px) {
	.team-president__info,
	.team-worker__info {
		opacity: 0;
		visibility: hidden;
		transform: translateX(-60%);
		transition: all 0.3s ease;
		background-color: transparent;
	}
	.team-president__link,
	.team-worker__link {
		overflow: hidden;
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			visibility: hidden;
			background-color: rgba(0, 0, 0, 0.8);
			transition: all 0.3s;
			z-index: 1;
		}
		&:hover::after {
			opacity: 1;
			visibility: visible;
		}
		&:hover .team-president__info {
			opacity: 1;
			visibility: visible;
			transform: translateX(0%);
			z-index: 2;
		}
		&:hover .team-worker__info {
			opacity: 1;
			visibility: visible;
			transform: translateX(0%);
			z-index: 2;
		}
	}

	.team-president__name,
	.team-president__profession,
	.team-worker__name {
		color: #fff;
	}
	.team-worker__profession {
		color: rgb(255, 255, 255, 0.6);
	}
}

@media (max-width: 1200px) {
	.team {
		&-worker {
			&__item {
				flex: 0 0 18%;
			}
			&__item:nth-child(-n + 3) {
				display: none;
			}
		}
	}
}
@media (max-width: 768px) {
	.team {
		&-worker {
			&__item {
				flex: 0 0 22%;
			}
			&__item:nth-child(-n + 6) {
				display: none;
			}
		}
	}
}
@media (max-width: 640px) {
	.team {
		padding: 40px 0;
		&__title {
			font-size: 32px;
		}
		&-president {
			flex-wrap: wrap;
			row-gap: 20px;
			&__name {
				font-size: 16px;
			}
			&__prfession {
				font-size: 14px;
			}
			&__item {
				position: relative;
				flex: 0 0 100%;
				height: 300px;
			}
			&__image {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		&-worker {
			max-height: auto;
			&__item {
				flex: 0 0 45%;
			}
			&__item:nth-child(-n + 10) {
				display: none;
			}
		}
	}
}
